.form-login-float {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 20;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
  animation: fadeIn 0.3s;
}

.form-login-float .content {
  padding: 20px 50px;
  background-color: aliceblue;
  border-radius: 5px;
  width: 30%;
  height: 320px;
  overflow: auto;
}

.form-login-float .content form div i.validation {
  color: red;
  font-size: 14px;
  display: none;
  animation: slideRight 0.3s;
}

.form-login-float .content.content-medium {
  height: auto;
}

.form-login-float .content h1 {
  color: black;
}

.form-login-float .content h1 span {
  color: red;
}

.form-login-float .content a {
  color: black;
  text-decoration: underline;
}

.form-login-float .content span {
  color: black;
}

.form-login-float .content form div {
  margin-top: 10px;
}

.form-login-float .content form div input {
  width: 100%;
  height: 30px;
  margin-top: 5px;
  color: black;
  padding: 0 20px 0 5px;
}

.form-login-float .content form div input[type="email"] {
  text-transform: lowercase;
}

.form-login-float .content form div input:focus {
  outline: none;
}

.form-login-float .content form div label {
  color: black;
  display: inline;
  font-size: 16px;
}

.form-login-float .content form div .label a {
  color: black;
}

.form-login-float .content form div .label i {
  color: black;
  padding: 0 5px;
  cursor: pointer;
}

.form-login-float .content form div .label i.fa-check {
  color: green !important;
  cursor: default;
  display: none;
  animation: pop 0.3s;
}

.form-login-float .content form div.password .checkbox {
  margin-left: 5px;
}

.form-login-float .content form div .checkbox {
  accent-color: black;
  cursor: pointer;
  width: 1rem;
  height: 1rem;
  padding: 0;
}

.form-login-float .content form div.remember .checkbox {
  margin-right: 5px;
}

.form-login-float .content form div .label {
  display: flex;
  align-items: center;
}

.form-login-float .content form div .label label {
  font-size: 14px;
}

.form-login-float .content form div input[type="checkbox"] {
  margin-top: 0;
}

.form-login-float .content form button {
  margin: 10px 0 5px 0;
  padding: 10px 10px;
  cursor: pointer;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
}

.form-login-float .content form button:hover span {
  opacity: 0.8;
}

.form-login-float .content form button span i {
  margin-right: 5px;
}

.form-login-float .content form button:hover svg {
  opacity: 0.8;
}

.form-login-float .content form button:hover path {
  opacity: 0.8;
}

.form-login-float .content form button span {
  color: #ffff;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  transition: 0.3s;
}

.form-login-float .content form button svg {
  color: #ffff;
  transition: 0.3s;
}

.form-login-float .content form button svg path {
  color: #ffff;
  transition: 0.3s;
}

.form-login-float button.close {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideRight {
  0% {
    transform: translateX(0%);
  }

  30% {
    transform: translateX(10%);
  }
}

@keyframes pop {
  50% {
    transform: scale(1.2);
  }
}

.input {
  position: relative;
}

.i {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 0 5px;
}

i.fa-circle-xmark {
  color: red !important;
}
i.fa-circle-check {
  color: green !important;
}

.password-hide {
  display: none;
}
