* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    color: rgba(255, 255, 255, 0.842);
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #eaeaea;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.active {
    color: #ffff;
    opacity: 1;
}

.d-none {
    display: none;
}

#profile a:not(:only-child) {
    opacity: 0.95;
}

#profile a:not(:only-child):hover {
    opacity: 1;
}

a {
    cursor: pointer;
}


/* awal navbar */

nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: black;
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

nav a {
    text-decoration: none;
}

nav #logo {
    position: absolute;
    left: 43%;
}

nav #logo h1 {
    font-family: "Libre Bodoni", serif;
    text-transform: uppercase;
    opacity: 1 !important;
    color: #ffff;
}

nav #logo span {
    color: red;
}

nav ul li form input {
    border: none;
    border-bottom: 1px solid #ffff;
    outline: none;
    padding-bottom: 5px;
    background-color: black;
    width: 100px;
    transition: 0.3s;
}

nav ul li form input:focus {
    width: 120px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul li a {
    position: relative;
    display: block;
    text-decoration: none;
    margin: 0 10px;
}

nav ul li a .notif {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: red;
    border-radius: 100%;
    width: 16px;
    height: 16px;
    text-align: center;
}

nav ul li ul li a {
    margin: 0;
    text-transform: capitalize;
}

nav ul li a:hover {
    color: #ffff;
    opacity: 1;
}

nav ul li a:hover i {
    color: #ffff;
    opacity: 1;
}

nav ul li ul li a:hover {
    opacity: 0.5;
    color: black;
}

nav ul li#shop-nav ul.shop li a {
    padding: 3px 0;
}

nav ul li a:not(:only-child):after {
    content: " ▾";
}

nav ul li#shop-nav ul {
    padding: 20px 10px;
}

nav ul li ul li h1 {
    text-transform: uppercase;
    color: black;
    font-family: "Montserrat", sans-serif;
    font-weight: 300 bold;
    font-size: 12px;
    margin-bottom: 5px;
}

nav ul li#profile a:not(:only-child)::after {
    content: " ▾";
    position: absolute;
    bottom: 40%;
    right: -13px;
}

nav ul li ul li a {
    padding: 10px;
    color: black;
    display: inline-block;
}

.nav-dropdown {
    position: absolute;
    z-index: 1;
    border-radius: 5px;
    /* Guarantees that the dropdown will display on top of any content. */
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
    background-color: #ffff;
    display: none;
    width: 20%;
    left: 2;
}

nav ul li:hover .nav-dropdown {
    display: block;
}

nav ul li#profile ul.profile.nav-dropdown {
    margin-left: -50px;
    width: 100px;
}

ul.right li:first-child {
    margin-right: 10px;
}

ul.right li#login {
    margin-left: 20px;
}

ul.right li#login:hover a {
    color: red;
}

nav ul li#profile {
    margin-left: 20px;
}

nav ul li#profile ul li:last-child a {
    color: red;
}


/* akhir navbar */


/* awal footer */

footer {
    margin-top: auto;
}

.site-footer {
    margin-top: auto;
    background-color: black;
    /* background-color: #26272b; */
    padding: 45px 0 20px;
    font-size: 15px;
    line-height: 24px;
    color: #737373;
}

.site-footer .container-top {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 0 20px 20px;
}

.site-footer .container-top .col {
    width: 50%;
}

.site-footer .container-top .col:last-child {
    width: auto;
    margin-right: 50px;
}

.site-footer hr {
    border-top-color: #bbb;
    opacity: 0.5;
}

.site-footer hr.small {
    margin: 20px 0;
}

.site-footer h6 {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 10px;
    letter-spacing: 2px;
}

.site-footer a {
    color: #737373;
    text-decoration: none;
}

.site-footer a:hover {
    color: #3366cc;
    text-decoration: none;
}

.footer-links {
    padding-left: 0;
    list-style: none;
}

.footer-links li {
    display: block;
}

.footer-links a {
    color: #737373;
}

.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
    color: #3366cc;
    text-decoration: none;
}

.footer-links.inline li {
    display: inline-block;
}

.site-footer .social-icons {
    text-align: right;
}

.site-footer .social-icons a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-left: 6px;
    margin-right: 0;
    border-radius: 100%;
    background-color: #33353d;
}

.copyright-text {
    margin: 0;
}

@media (max-width: 991px) {
    .site-footer [class^="col-"] {
        margin-bottom: 30px;
    }
}

@media (max-width: 767px) {
    .site-footer {
        padding-bottom: 0;
    }
    .site-footer .copyright-text,
    .site-footer .social-icons {
        text-align: center;
    }
}

.social-icons {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.social-icons li {
    display: inline-block;
    margin-bottom: 4px;
}

.social-icons li.title {
    margin-right: 15px;
    text-transform: uppercase;
    color: #96a2b2;
    font-weight: 700;
    font-size: 13px;
}

.social-icons a {
    background-color: #eceeef;
    color: #818a91;
    font-size: 16px;
    display: inline-block;
    line-height: 44px;
    width: 44px;
    height: 44px;
    text-align: center;
    margin-right: 8px;
    border-radius: 100%;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
    color: #fff;
    background-color: #29aafe;
}

.social-icons.size-sm a {
    line-height: 34px;
    height: 34px;
    width: 34px;
    font-size: 14px;
}

.social-icons a.facebook:hover {
    background-color: #3b5998;
}

.social-icons a.twitter:hover {
    background-color: #00aced;
}

.social-icons a.whatsapp:hover {
    background-color: #06b600;
}

.social-icons a.instagram:hover {
    background-color: #ea4c89;
}

@media (max-width: 767px) {
    .social-icons li.title {
        display: block;
        margin-right: 0;
        font-weight: 600;
    }
}

.site-footer .container-bottom .col:first-child {
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 10px;
}

.site-footer .container-bottom .col:last-child {
    margin-right: 50px;
}


/* akhir footer */