.button{
    margin-top:10px;
}

.button button.love2 {
    color: #ffff;
    background-color: salmon;
  }
  .button button.love2:hover {
    color: #ffff !important;
    background-color: salmon !important;
  }
  
  .button button {
    color: black;
    background-color: #ffff;
    font-weight: normal;
    font-weight: 300;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 10px;
    transition: 0.3s;
  }
  
  .button button.cart2 {
    color: #ffff;
    background-color: black;
  }
  
  .button button.cart2:hover {
    color: #ffff;
  }
  
  .button button.love2 {
    color: #ffff;
    background-color: salmon;
  }
  
  .button button.love2 i {
    color: #ffff;
  }
  
  .button button.love2:hover i {
    color: #ffff;
  }
  
  .button button i {
    color: black;
  }
  
  .button button:hover i {
    color: #ffff;
  }
  
  .button  button:hover {
    color: #ffff;
    background-color: black;
    font-weight: normal;
    font-weight: 300;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 10px;
  }




/* awal produk */
.produk {
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
}

.produk .news-items {
    display: none;
}

.produk div.news-item {
    width: 25%;
    text-align: center;
    padding: 20px;
    /* box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.2); */
}

.produk div.news-item a:hover {
    opacity: 0.8;
}

.produk div.news-item:hover a .border img {
    transform: scale(1.4);
}

.produk div.news-item a .border {
    width: 100%;
    overflow: hidden;
    border-radius: 5px;
}

.produk div.news-item a .border img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    transition: 1s;
}

.produk h4 {
    font-size: 12px;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    margin-top: 10px;
    color: black;
}

.produk p {
    margin-top: 5px;
    font-size: 10px;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    color: black;
}
/* akhir produk *


